@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --fontfamily: "Poppins", sans-serif;
}
.container-1 {
  background: linear-gradient(1000deg, var(--dark-purple), var(--light-purple))
    no-repeat fixed center;
  max-width: 100%;
  /* max-height: 100vh; */
}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 90vh;
  font-family: var(--fontfamily);
  /* display: grid; */
  /* grid-template-columns: repeat( */
  /* auto-fill, */
  /* minmax(200px, 1fr) */
  /* ; not explicit repeat, adjusts to screen size based on minmax() */
  /* grid-gap: 0.2rem; */
  /* padding: 1rem; */
  /* margin: 0 50px; */
  /* max-width: 100%; */
  /* height: 100vh; */
}
.card {
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  transition: all 0.3s linear;
}
.card-img-top {
  max-width: 300px;
  height: 200px;
  width: 100%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: none;
}
.card-link {
  text-decoration: none;
  margin: 5px 10px;
}
a .card:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}
.card-img-top:hover {
  transform: scale(1.11);
}
.card-body {
  text-align: center;
  padding: 0;
}
.card-title {
  color: rgba(62, 10, 38, 0.653);
  font-size: 22px;
  font-style: italic;
  font-family: fantasy;
  font-weight: 600;
  margin: -18px;
}
.card-text {
  margin: 10px;
  background-color: black;
  color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
}
.card-title {
  /* box-shadow: 5px 5px 5px rgba(#000, .2), 
							5px 5px 17px rgba(#000, .35), 
							5px 5px 25px rgba(#000, .5); */
  text-shadow: 1px 1px #000;
}
.buttonContainer{
  display:flex;
  justify-content: space-between;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .footer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .grid {
    min-height: 100vh;
  }
}
