
.contact-container {
  font-family: 'Poppins','cursive';
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%)no-repeat fixed center;
  background-size: contain;
  background-size: cover;
  display:block;
  align-items: center;
  max-width: 100%;
  max-height: 100vh;
  margin:0;
  padding: 0;
}

.form {
    /* box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4); */
    padding: none;
    max-width: 100%;
    min-height: 100vh;
  }
  
  .form input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-heading{
     text-align: center;
     text-decoration: none;
  }
  