.nav-link{
    justify-content:flex-end;
}
/* .header{
    font-family: 'Bungee Spice', cursive;
} */
.header {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color:azure;

}
.navbar-nav {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}