.footer{
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
}
.footer-text{
    font-size:1.2em;
    padding-top:12px;
}