.footer{
    /* position: fixed; */
    width: 100%;
    bottom:0;
    z-index: 1;
    background-color: black;
    color:white;
    text-align: center;
    bottom: 0;
    
}
.footer-text{
    font-size:1.2em;
    padding-bottom:10px;
}
.social-media-icons-white a{
    color:rgba(255, 255, 255, 0.55);
    font-size: 2rem;
    margin: 10px;
}
.social-media-icons-white a:hover{
    color:rgba(255, 255, 255, 0.75);
}